body {
    color: black;
    text-align: center;
    border-color: transparent;
    border-width: 10px;
    border-style: solid;
    animation: anime 30s cubic-bezier(0, 0, 0, 0) 0s infinite alternate forwards running;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
}

h1 {
    font-family: 'Shojumaru', cursive;
    font-size: 40px;
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    max-width: 60%;
    margin: auto;
    animation: anime2 30s cubic-bezier(0, 0, 0, 0) 0s infinite alternate forwards running;
}

img {
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    max-width: 60%;
    display: block;
    margin: auto;
    height: auto;
    animation: anime2 30s cubic-bezier(0, 0, 0, 0) 0s infinite alternate forwards running;
}

p {
    font-size: 15px;
}

i {
    font-family: '', serif;
    font-weight: 450;
}

ul {
    font-size: 20px;
}

li {
    font-size: 15px;
}

label, output, #label {
    font-weight: bold;
    font-size: 20px;
}

footer {
    display: grid;
}

video {
    width: 65%;
    max-width: 100%;
    height: 100px;
}

a {
    font-size: 15px;
    margin: 15px;
}

.block {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    max-width: 60%;
    margin: auto;
    height: auto;
    text-align: left;
    padding: 6px;
    animation: anime2 30s cubic-bezier(0, 0, 0, 0) 0s infinite alternate forwards running;
}

.foot-label {
    vertical-align: 40px;
}
  

@keyframes anime {
    0% {
    background-color: red;
    }
    25% {
    background-color: yellow;
    }
    50% {
    background-color: green;
    }
    75% {
    background-color: blue;
    }
    100% {
    background-color: pink;
    }
}

@keyframes anime2 {
    0% {
    border-color: pink;
    }
    25% {
    border-color: blue;
    }
    50% {
    border-color: green;
    }
    75% {
    border-color: yellow;
    }
    100% {
    border-color: red;
    }
}